/* ========================== */
$background-color: #A6A6A6;
$dark-grey: #545454;
$dark-gray: $dark-grey;
$off-white: #FFFFF7 ;
$light-grey: #D9D9D0;
$light-gray: $light-grey;
/* ========================== */

html, body {
  margin: 0;
  padding:0;
  border: 0;
  background-color: $background-color;
}

#mute img {
	width: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
}