/* ========================== */
$background-color: #A6A6A6;
$card-size: 350px;
$field-width: ($card-size * 4);
$field-height: ($card-size * 2);
/* ========================== */

html, body {
  margin: 0;
  padding:0;
  border: 0;
  background-color: $background-color;
}