/* ========================== */
$background-color: #A6A6A6;
/* ========================== */

html, body {
  margin: 0;
  padding:0;
  border: 0;
  background-color: $background-color;
}

#mute img {
	width: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
}