/* ========================== */
$card-size: 350px;
$card-padding: 30px;
$field-width: ($card-size * 4 + ($card-padding * 5));
$field-height: ($card-size * 2 + ($card-padding * 3));
/* ========================== */

/* Start Play Field */
.play-field {
  margin: 0;
  padding: 0 0 0 100px;
  background-color: $background-color;
  height: $field-height;
  width: calc(100% - 100px);
  overflow: hidden;
  .play-field-internal {
    margin: auto;
    background-color: $background-color;
    width: $field-width;
    height: $field-height;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
    .room {
      margin-top: $card-padding;
      margin-right: $card-padding;
      &:first-child, &:nth-child(5) {
        margin-left: $card-padding;
      }
      &:nth-child(-n+4) {
        margin-bottom: 0;
      }
      &:nth-child(-n+4) {
        margin-bottom: 0;
      }
      &:nth-last-child(-n+4) {
        margin-bottom: $card-padding;
      }
    }
  }
  div {
    margin:0;
    padding:0;
    float: left;
    width: $card-size;
    height: $card-size;
    background-size: $card-size;
    display: inline-block;
  }
}
/* End Play Field */