<script src="/scripts/interact.js"></script>
<div class="front-logo"></div>
<section id="game-setup" class="game-setup">
	<form id="game-setup-form" action="/wait">
		<div class="game-setup-input">
	    <label for="username">USERNAME</label>
	    <input type="text" id="username" name="username">
		</div>
		<div class="game-setup-input">
	    <label for="gamename">GAME NAME</label>
	    <input type="text" id="gamename" name="gamename">
		</div>
		<button id="go" type="submit">GO TO THE<br>SPY CONVENTION</button>
	</form>
</section>

<audio id="background-music" loop>
  <source src="audio/Rollin_at_5.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<script src="/scripts/scripts.js"></script>