<script src="/scripts/interact.js"></script>
<div class="front-logo"></div>
<section id="game-setup" class="game-setup">
  {{#each gameInfo}}
   <h2>{{this.gamename}}</h2>
  {{/each}}
	<h2>Waiting for more spies to arrive.</h2>
	<div id="joining" class="joining">
      <h2>{{newGame.owner}} has joined...</h2>
  </div>
	<form id="game-setup-form" action="/choose">
		<button id="go" type="submit">READY</button>
	</form>
</section>

<div id="mute"><img src="images/mute-no.svg" alt="mute"></div>

<audio id="background-music" loop>
  <source src="audio/Rollin_at_5_electronic.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<script src="/scripts/scripts.js"></script>